<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.9.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/selfdefined.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>


</head>
<body style="background-color: #f2e9da;">
    <div class="navbar-default navbar-fixed-top" id="navbar-container" style="background-color: #493829; border-color:#816c5d">
        <div class="container" id="navbar-menu" >
  
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Hjem")"><img src="~/Images/ku.png" style="background-size: 160px 160px; height: 100px; width: 100px; float:left;" /></a>
                @Html.ActionLink("Hjem", "Hjem", "Kunde", new { tom = "" }, new { @class = "navbar-brand", @style = "margin-top: 25px;"})     
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav" id="navbar-menu" style="margin-top: 25px;">
                    @if (Convert.ToInt32(Session["KundeId"]) == 1)
                    {
                        <li>@Html.ActionLink("Kundeliste", "ListKunder", "Kunde")</li>
                        <li>@Html.ActionLink("Opprett Kunde", "OpprettKunde", "Kunde")</li>
                    }
                    
                    @if ((bool)Session["LoggetInn"] == false)
                    {
                        // Går til "LoggUt" for å nullstille innloggingsprosessen
                        <li>@Html.ActionLink("Logg Inn", "LoggUt", "Kunde")</li>
                    }
                    @if (Session["LoggetInn"] != null && (bool)Session["LoggetInn"] == true)
                    {
                        <li>@Html.ActionLink("Din side", "Index", "Kunde")</li>
                        <li>@Html.ActionLink("Kontooversikt", "ListKonti", "Konto")</li>
                        <li>@Html.ActionLink("Betal", "RegistrerBetaling", "Transaksjon")</li>
                        <li>@Html.ActionLink("Logg Ut", "LoggUt", "Kunde")</li>
                    }
                </ul>
            </div>

        </div>
    </div>
    <br />
    <div class="container body-content">
        <br /><br /><br /><br />
        @RenderBody()
        <div id="bottom-divider">
            <hr />
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3" ><address><b>Lømey Bank AS</b><br />Pilestredet 32</br>0166 Oslo </address></div>
            <div class="col-xs-6 col-sm-3"><b>Kundeservice</b><br /><small><b>For privat:</b><br />Fra Norge: 09090<br />Fra Utlandet: +47 090 90909<br /><b>For Bedrift:</b><br />Fra Norge: 90909<br />Fra Utlandet: +47 909 09090</small></div>
            <div class="col-xs-6 col-sm-3"><b>Vi bruker cookies</b><br />Not really, men siden ser bedre ut med litt fyll.</div>
        </div>
        <footer>
            <p class="small"> &copy;@DateTime.Now.Year LøMey</p>
        </footer>
    </div>
</body>
</html>