@model Model.Transaksjon
@{
    ViewBag.Title = "Registrer Betaling";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Endre betaling</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.TransaksjonsID)

            @if (ViewBag.ErrMsg != null)
            {
                <p class="alert-danger">@ViewBag.ErrMsg</p>
            }


            <div class="form-group">
                @Html.LabelFor(model => model.Utkonto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Utkonto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Utkonto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Innkonto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Innkonto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Innkonto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Beløp, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Beløp, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Beløp, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.KID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Melding, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Melding, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Melding, "", new { @class = "text-danger" })
                </div>
            </div>
            <!--@*
            <div class="form-group">
                @Html.LabelFor(model => model.Tidspunkt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    Skriv inn dato på dd/mm/åååå format, eller la feltet være blankt for å bruke nåværende tidspunkt
                    @if (ViewBag.TidErrMsg != null)
                    {
                        <p class="alert-info">@ViewBag.TidErrMsg</p>
                    }
                    @Html.EditorFor(model => model.Tidspunkt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tidspunkt, "", new { @class = "text-danger" })
                </div>

            </div>*@-->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Registrer Betaling" class="btn btn-success" />
                    @Html.ActionLink("Vis transaksjonsoversikt", "visTransaksjoner", new { tom = "" }, new { @class = "btn btn-primary" })
                </div>
            </div>

        </div>
    }
</body>
</html>