@model Model.Transaksjon
@{
    ViewBag.Title = "Godkjenn Betaling";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <br /><br />
    <div>
        <h4>Godkjenn betaling</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.TransaksjonsID)</dt>
            <dd>@Html.DisplayFor(model => model.TransaksjonsID)</dd>
            <dt>@Html.DisplayNameFor(model => model.Utkonto)</dt>
            <dd>@Html.DisplayFor(model => model.Utkonto)</dd>
            <dt>@Html.DisplayNameFor(model => model.Innkonto)</dt>
            <dd>@Html.DisplayFor(model => model.Innkonto)</dd>
            <dt>@Html.DisplayNameFor(model => model.Beløp)</dt>
            <dd>@Html.DisplayFor(model => model.Beløp)</dd>
            <dt>@Html.DisplayNameFor(model => model.KID)</dt>
            <dd>@Html.DisplayFor(model => model.KID)</dd>
            <dt>@Html.DisplayNameFor(model => model.Melding)</dt>
            <dd>@Html.DisplayFor(model => model.Melding)</dd>
            <dt>@Html.DisplayNameFor(model => model.Tidspunkt)</dt>
            <dd>@Html.DisplayFor(model => model.Tidspunkt)</dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Godkjenn" class="btn btn-success" />
                @Html.ActionLink("Betalingsoversikt", "visTransaksjoner", new { tom = "" }, new { @class = "btn btn-primary"})
            </div>
        }
    </div>
</body>
</html>

