@model List<Nettbank.Models.Transaksjon>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List Transaksjoner</title>
</head>
<body>
    <br /><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].TransaksjonsID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Utkonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Innkonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Beløp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].KID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Melding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Tidspunkt)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransaksjonsID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utkonto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Innkonto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beløp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Melding)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tidspunkt)
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Tilbake til kontooversikt", "/ListKonti", "Konto", new { @class = "btn btn-success" })
</body>
</html>