@model Tuple<Nettbank.Models.Transaksjon, List<string>>
@{
    ViewBag.Title = "Registrer Betaling";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        function hentKontiAjax()
        {
            $("#visSaldo").load("/Konto/HentKonti", { kontoID: $("#kontoListe").val() });
        }

        function hentKontiAjax1()
        {
            $.getJSON("/Konto/HentKonti1", { kontoID: $("#kontoListe").val() }, function (konto)
            {
                var ut = "<b>Disponibelt beløp:</b> <br/>";
                for (var k in konto)
                {
                    ut += konto[k].saldo.toString() + "<br/>";
                }
                $("#visSaldo").html(ut);
            });
        }

        function sendUtkonto()
        {
            $.ajax({
                type: "GET",
                url: "RegistrerBetaling",
                data: { utKonto: $("#kontoListe").val() }
            }).done();
        }
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Registrer betaling</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Item1.TransaksjonsID)

            @if (ViewBag.ErrMsg != null)
            {
                <p class="alert-danger">@ViewBag.ErrMsg</p>
            }


            <div class="form-group">
                @Html.LabelFor(model => model.Item1.Utkonto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <!--@*@Html.EditorFor(model => model.Item1.Utkonto, new { htmlAttributes = new { @class = "form-control" } }) *@-->
                    <select id="kontoListe" onchange="hentKontiAjax1()" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        @foreach(var kontoID in Model.Item2)
                        {
                            <option>@kontoID</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.Item1.Utkonto, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-10" id="visSaldo">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Item1.Innkonto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item1.Innkonto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item1.Innkonto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Item1.Beløp, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item1.Beløp, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item1.Beløp, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Item1.KID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item1.KID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item1.KID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Item1.Melding, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item1.Melding, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item1.Melding, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Item1.Tidspunkt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    Skriv inn dato på dd/mm/åååå format, eller la feltet være blankt for å bruke nåværende tidspunkt
                    @if (ViewBag.TidErrMsg != null)
                    {
                        <p class="alert-info">@ViewBag.TidErrMsg</p>
                    }
                    @Html.EditorFor(model => model.Item1.Tidspunkt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item1.Tidspunkt, "", new { @class = "text-danger" })
                </div>
                
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Registrer Betaling" onclick="sendUtkonto()" class="btn btn-success" />
                    @Html.ActionLink("Vis transaksjonsoversikt", "visTransaksjoner", new { id = Session["KundeId"] }, new { @class = "btn btn-primary" })
                </div>
            </div>

        </div>
    }
</body>
</html>
    <!--@*
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        function hentKontoerAjax()
        {
            $("#KontoListe").load("/Konto/HentKonti", { kontoId: $("#idListe").val() });
        }

        function hentKontoerAjax1()
        {
            $.getJSON("/Konto/HentKonti1", { kontoId: $("#idListe").val() }, function (konto) {
                var ut = "Beløp på konto: ";
                for (var i in konto) {
                    ut += konto[i].saldo + "<br/>";
                }
                $("#KontoListe").html(ut);
            });
        }
    </script>
    <div>
        <form action="/Transaksjon/RegBet" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#Resultat" method="post">
            <table>
                <tr><td>Fra Konto : </td>
                <td>
                    <select id="idListe" onchange="hentKontoerAjax1()" name="utKontoId">
                        @foreach (var kontoId in Model)
                        {
                            <option>@kontoId</option>
                            }
                    </select>
                </td>
                <td id="KontoListe"></td>
                </tr>
                <tr><td>Til Konto : </td><td><input type="text" name="innKonto" /></td></tr>
                <tr><td>Beløp : </td><td><input type="text" name="Beløp" /></td></tr>
                <tr><td>KID : </td><td><input type="text" name="KID" /></td></tr>
                <tr><td>Melding : </td><td><input type="text" name="Melding" /></td></tr>
                <tr><td><input type="submit" value="Legg til betaling" /> </td></tr>
            </table>
        </form>
    </div>
    <div id="Resultat">
        <table>
        </table>
    </div>
    <div>
        
    </div>
</body>
</html>
*@-->