@model Nettbank.Models.Transaksjon
@{
    ViewBag.Title = "Registrer Betaling";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Registrer betaling</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.TransaksjonsID)
            @Html.HiddenFor(model => model.KID)
            @Html.HiddenFor(model => model.Melding)

            <div class="form-group">
                @Html.LabelFor(model => model.Utkonto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Utkonto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Utkonto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Innkonto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Innkonto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Innkonto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Beløp, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Beløp, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Beløp, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.KID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Melding, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Melding, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Melding, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Tidspunkt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    Skriv inn dato på dd/mm/åååå format, eller la feltet være blankt for å bruke nåværende tidspunkt
                    @Html.EditorFor(model => model.Tidspunkt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tidspunkt, "", new { @class = "text-danger" })
                </div>
                
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Registrer Betaling" class="btn btn-success" />
                    @Html.ActionLink("Vis transaksjonsoversikt", "visTransaksjoner", new { tom = "" }, new { @class = "btn btn-primary" })
                </div>
            </div>

        </div>
    }
</body>
</html>
    <!--@*
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        function hentKontoerAjax()
        {
            $("#KontoListe").load("/Konto/HentKonti", { kontoId: $("#idListe").val() });
        }

        function hentKontoerAjax1()
        {
            $.getJSON("/Konto/HentKonti1", { kontoId: $("#idListe").val() }, function (konto) {
                var ut = "Beløp på konto: ";
                for (var i in konto) {
                    ut += konto[i].saldo + "<br/>";
                }
                $("#KontoListe").html(ut);
            });
        }
    </script>
    <div>
        <form action="/Transaksjon/RegBet" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#Resultat" method="post">
            <table>
                <tr><td>Fra Konto : </td>
                <td>
                    <select id="idListe" onchange="hentKontoerAjax1()" name="utKontoId">
                        @foreach (var kontoId in Model)
                        {
                            <option>@kontoId</option>
                            }
                    </select>
                </td>
                <td id="KontoListe"></td>
                </tr>
                <tr><td>Til Konto : </td><td><input type="text" name="innKonto" /></td></tr>
                <tr><td>Beløp : </td><td><input type="text" name="Beløp" /></td></tr>
                <tr><td>KID : </td><td><input type="text" name="KID" /></td></tr>
                <tr><td>Melding : </td><td><input type="text" name="Melding" /></td></tr>
                <tr><td><input type="submit" value="Legg til betaling" /> </td></tr>
            </table>
        </form>
    </div>
    <div id="Resultat">
        <table>
        </table>
    </div>
    <div>
        
    </div>
</body>
</html>
*@-->