@model List<Nettbank.Models.Transaksjon>
@{
    ViewBag.Title = "Transaksjonshistorikk";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <br /><br />
    <h4>Ubekreftede betalinger</h4>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].TransaksjonsID)</th>
            <th>@Html.DisplayNameFor(model => model[0].Utkonto)</th>
            <th>@Html.DisplayNameFor(model => model[0].Innkonto)</th>
            <th>@Html.DisplayNameFor(model => model[0].Beløp)</th>
            <th>@Html.DisplayNameFor(model => model[0].KID)</th>
            <th>@Html.DisplayNameFor(model => model[0].Melding)</th>
            <th>@Html.DisplayNameFor(model => model[0].Tidspunkt)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        
        @foreach(var item in Model)
        {
            if (item.Bekreftet == false.ToString())
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TransaksjonsID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Utkonto)</td>
                    <td>@Html.DisplayFor(modelItem => item.Innkonto)</td>
                    <td>@Html.DisplayFor(modelItem => item.Beløp)</td>
                    <td>@Html.DisplayFor(modelItem => item.KID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Melding)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tidspunkt)</td>
                    <td>@Html.ActionLink("Slett", "Slett", new { id = item.TransaksjonsID }, new { @class = "btn btn-danger" })</td>
                    <td>@Html.ActionLink("Endre", "Endre", new { id = item.TransaksjonsID }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("Godkjenn", "godkjennBetaling", new { id = item.TransaksjonsID}, new { @class = "btn btn-success"})</td>
                </tr>
            }

        }
    </table>

    <h4>Godkjente betalinger</h4>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].TransaksjonsID)</th>
            <th>@Html.DisplayNameFor(model => model[0].Utkonto)</th>
            <th>@Html.DisplayNameFor(model => model[0].Innkonto)</th>
            <th>@Html.DisplayNameFor(model => model[0].Beløp)</th>
            <th>@Html.DisplayNameFor(model => model[0].KID)</th>
            <th>@Html.DisplayNameFor(model => model[0].Melding)</th>
            <th>@Html.DisplayNameFor(model => model[0].Tidspunkt)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Bekreftet == true.ToString())
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TransaksjonsID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Utkonto)</td>
                    <td>@Html.DisplayFor(modelItem => item.Innkonto)</td>
                    <td>@Html.DisplayFor(modelItem => item.Beløp)</td>
                    <td>@Html.DisplayFor(modelItem => item.KID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Melding)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tidspunkt)</td>
                    <td></td>
                </tr>
            }

        }
    </table>
    @Html.ActionLink("Velg konto", "velgKonto", new { tom = "" }, new { @class = "btn btn-success" })
    @Html.ActionLink("Legg til betaling", "RegistrerBetaling", new { tom = "" }, new { @class = "btn btn-success" })
</body>
</html>
















<!--@*
@model List<string>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vis Transaksjoner</title>
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        function hentKontoerAjax()
        {
            $("#KontoListe").load("/Konto/HentKonti", { kontoId: $("#idListe").val() });
        }

        function hentTransAjax()
        {
            $.getJSON("/Transaksjon/HentTransaksjoner", { kontoId: $("#idListe").val() }, function (trans) {
                var ut = "";
                for (var i in trans) {
                    ut += trans[i].transId + " " + trans.utKontoId + " " + trans.innKonto + " " + trans.beløp + " " + trans.KID + " " + trans.melding + " " + trans.transaksjonsTidspunkt + "<br/>";
                }
                $("#TransListe").html(ut);
            });
        }
    </script>
</head>
<body>
    <div>
        <h2>Velg en konto du ønsker å se transaksjoner for</h2>
        <select id="idListe" onchange="hentTransAjax()">
            @foreach (var konto in Model)
            {
                <option>@konto</option>
            }
        </select>
    </div>
    <div id="TransListe">
        Her kommer transaksjonene!
    </div>
</body>
</html>
*@-->