@model List<Nettbank.Models.Konto>
@{
    ViewBag.Title = "Kontodetaljer";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <br /><br />
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].kontoId)</th>
            <th>@Html.DisplayNameFor(model => model[0].kontoNavn)</th>
            <th>@Html.DisplayNameFor(model => model[0].saldo)</th>
            <th>@Html.DisplayNameFor(model => model[0].kontoEier)</th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.kontoId)</td>
                <td>@Html.DisplayFor(modelItem => item.kontoNavn)</td>
                <td>@Html.DisplayFor(modelItem => item.saldo)</td>
                <td>@Html.DisplayFor(modelItem => item.kontoEier)</td>
            </tr>
        }
    </table>
    @Html.ActionLink("Kontooversikt", "visTransaksjoner", "Transaksjon" , new { id = Session["KundeId"] }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Opprett konto", "OpprettKonto", new { tom = "" }, new { @class = "btn btn-success" })
</body>
</html>

<!--
    
@*
<!DOCTYPE html>
<html>
<head>
    <title>List konti</title>
</head>
<body>
    <div>
        <h3>Her er kontoene i databasen:</h3>
        <table>
            @foreach (var konto in Model)
            {
                <tr>
                    <td>@konto.kontoId
                    <td />
                    <td>@konto.saldo
                    <td />
                    
                    
                </tr>
            }
        </table>
        @ViewBag.Melding
        <a href="/Konto/OpprettKonto">Opprett Konto</a>

        
        
    </div>

    @if (ViewBag.Innlogget)
    {
        <p style="color:forestgreen">Logget inn</p>
        <p> Bruker viewdata: @ViewData["kundeId"] </p>
        <p> Bruker viewbag: @ViewBag.kId </p>
        <p> Bruker session: @Session["kundeId"] </p>

    }

    <a href="/Kunde/Index">Til hovedside</a>

    <div>
       @Html.ActionLink("Logg ut", "LoggUt")
    </div>
</body>
</html>
*@
-->