@model List<Nettbank.Models.konto>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>List konti</title>
</head>
<body>
    <div>
        <h3>Her er kontoene i databasen:</h3>
        <table>
            @foreach (var konto in Model)
            {
                <tr>
                    <td>@konto.kontoId
                    <td />
                    <td>@konto.saldo
                    <td />
                    
                    
                </tr>
            }
        </table>
        @ViewBag.Melding
        <a href="/Konto/OpprettKonto">Opprett Konto</a>

        
        
    </div>

    @if (ViewBag.Innlogget)
    {
        <p style="color:forestgreen">Logget inn</p>
        <p> Bruker viewdata: @ViewData["kundeId"] </p>
        <p> Bruker viewbag: @ViewBag.kId </p>
        <p> Bruker session: @Session["kundeId"] </p>

    }

    <a href="/Kunde/Index">Til hovedside</a>
</body>
</html>