
@{
    ViewBag.Title = "BankID";
}
@model Nettbank.Models.Kunde

<h2>BankID</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>BankID</legend>

            
            <p>Vennligst oppgi 6-siffret BankID kode:</p>
            <br />
            <p>@ViewBag.BankIdMelding</p>
                
            @Html.TextBox("bIdInput")
            

            <p>
                <input type="submit" value="Verifiser BankID" />
            </p>
        </fieldset>
        <p>@ViewBag.ErrorMsg</p>
        
    }

    

    <div>
        @Html.ActionLink("Avbryt", "LoggUt", new { tom = "" }, new { @class = "btn btn-danger" })
    </div>

</body>
</html>

