
@{
    ViewBag.Title = "LøMey Nettbank";
}
@model Nettbank.Models.Kunde

<br />
<h2>LøMey Bank - En bank for indre soknafjordingar!</h2>
<h4>Velkømmen tel gards!</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <p>Hos oss finder du de beste låneavtalene for alle på gård! Hvem er vi? 
        Vi er banken som er der for deg i de vanskelige tidene. Er det tid for slakt, 
        eller kanskje gamle Pjokken ikke kan dra åket lengre? Da er vi der for deg. 
        Har du barn som er lei fjordinglivet og som skal inn til storbyen, men som ikke synes noe om å leie?
        Da er vi banken for deg.</p>
        
    </fieldset>

    if ((bool)Session["LoggetInn"] == true)
    {
        <p style="color:forestgreen">Logget inn</p>
            <p>Du er logget inn som @Session["KundeNavn"] @Session["KundeEtternavn"] (@Session["kPID"]), kundenr.: @Session["KundeId"] </p>
            <p>@Html.ActionLink("Kontooversikt", "ListKonti", "Konto", new { tom = "" }, new { @class = "btn btn-primary" })</p>


    }
    else
    {
        <p style="color:red">Ikke logget inn</p>
            <br />
        // Bruker "LoggUt" for å nullstille påloggingsprosessen
        @Html.ActionLink("Logg inn", "LoggUt", "Kunde", new { tom = "" }, new { @class = "btn btn-primary" })
    }

}
