
@{
    ViewBag.Title = "LøMey Nettbank";
}
@model Nettbank.Models.Kunde

<br />
<h2>LøMey Bank - En bank for indre soknafjordingar!</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @if ((bool)Session["LoggetInn"] == true)
        {
            <p style="color:forestgreen">Logget inn</p>
            <p>Du er logget inn som @Session["kPID"], kundenr.: @Session["KundeId"] </p>
            <p>@Html.ActionLink("Kontooversikt", "ListKonti", "Konto")</p>


        }
        else
        {
            <p style="color:red">Ikke logget inn</p>
            <br />
            @Html.ActionLink("Logg inn", "Index", "Kunde", new { tom = "" }, new { @class = "btn btn-primary" })
        }
        <p>
            Velkommen
        </p>
    </fieldset>
}
