@model Nettbank.Models.Kunde
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nettbank</title>
</head>
<body>
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Logg inn</legend>

            @if (Session["KundeId"] == null)
            {
                <p>Vennligst oppgi ditt personnummer:</p>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Personnummer)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Personnummer)
                    @Html.ValidationMessageFor(model => model.Personnummer)
                </div>
                @ViewBag.KundeMelding
                <p>
                    <input type="submit" value="Logg inn" />
                </p>
            }
            else if ((bool)Session["BankID"] == true && (bool)Session["LoggetInn"] == false)
            {
                <p>Vennligst oppgi ditt personlige passord:</p>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Passord)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Passord)
                    @Html.ValidationMessageFor(model => model.Passord)
                </div>
                <p>
                    <input type="submit" value="Logg inn" />
                </p>
            }

            


            
            @if ((bool)Session["LoggetInn"] == true)
            {
                <p style="color:forestgreen">Logget inn</p>
                <p> KundeId session: @Session["kundeId"] </p>
                <p>@Html.ActionLink("Kontooversikt", "ListKonti", "Konto")</p>


            }
            else
            {
                <p style="color:red">Ikke logget inn</p>
            }
        </fieldset>
    }

    <div>
        @Html.ActionLink("Logg ut", "LoggUt")
    </div>
    

    <div>
        @Html.ActionLink("Back to start", "Index")
    </div>

    <div>
        <p style="color:hotpink">
            Autogenerer to kunder med to konti hver.
            Personnr.: 9999911111 og 99999222222 <br />
            Passord.: test <br />
            @Html.ActionLink("Autogenerer", "TestOpprett")
            <br />
            @Html.ActionLink("Slett DB", "SlettDB")
        </p>
        <br />

</div>
</body>
</html>

