@model Model.Kunde
@{
    if ((bool)Session["LoggetInn"] == false)
    {
        ViewBag.Title = "Innlogging";
    }
    else
    {
        ViewBag.Title = "Din side";
    }

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <br /><br />
        <fieldset>
            @if ((bool)Session["LoggetInn"] == false)
            {
                <legend>Logg inn</legend>
            }
            else
            {
                <legend>Velkommen, @Session["KundeNavn"]</legend>
            }
            <br />
            @if (Session["KundeId"] == null)
            {
                <p>Vennligst oppgi ditt personnummer:</p>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Personnummer)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Personnummer)
                    @Html.ValidationMessageFor(model => model.Personnummer)
                </div>
                @ViewBag.KundeMelding
                <p>
                    <input type="submit" value="Logg inn" />
                </p>
            }
            else if ((bool)Session["BankID"] == false || (bool)Session["Avbrutt"] == true)
            {
                <p>Vennligst oppgi ditt personnummer:</p>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Personnummer)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Personnummer)
                    @Html.ValidationMessageFor(model => model.Personnummer)
                </div>
                @ViewBag.KundeMelding
                <p>
                    <input type="submit" value="Logg inn" />
                </p>
            }
            else if ((bool)Session["BankID"] == true && (bool)Session["LoggetInn"] == false)
            {
                <p>Vennligst oppgi ditt personlige passord:</p>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Passord)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Passord)
                    @Html.ValidationMessageFor(model => model.Passord)
                </div>
                <p>
                    <input type="submit" value="Logg inn" />
                </p>
                <div>
                    @Html.ActionLink("Avbryt", "LoggUt", new { tom = "" }, new { @class = "btn btn-danger" })
                </div>
            }
            else if ((bool)Session["LoggetInn"] == true)
            {
                <br />
                @Html.ActionLink("Kontooversikt", "ListKonti", "Konto", new { tom = "" }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Vis transaksjoner", "visTransaksjoner", "Transaksjon", new { tom = "" }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Legg til betaling", "RegistrerBetaling", "Transaksjon", new { tom = "" }, new { @class = "btn btn-success" })
            }

            @if ((bool)Session["LoggetInn"] == true)
            {
                <br />
                <p style="color:forestgreen">Logget inn</p>

                <!--@*@Html.ActionLink("Logg ut", "LoggUt", new { tom = "" }, new { @class = "btn btn-danger" })*@-->

            }
            else
            {
                <br />
                <p style="color:red">Ikke logget inn</p>
            }
        </fieldset>
    }

    <!--@*
    @if (Session["LoggetInn"] != null && (bool)Session["LoggetInn"] == false)
    {
        <div>
            <p style="color:hotpink">
                <br />
                Autogenerer to kunder med to konti hver.
                Personnr.: 9999911111 og 99999222222 <br />
                Passord: test <br />
                @Html.ActionLink("Autogenerer", "TestOpprett", new { tom = "" }, new { @class = "btn btn-danger" })
                <br />
                @Html.ActionLink("Slett DB", "SlettDB", new { tom = "" }, new { @class = "btn btn-danger" })
            </p>
            <br />
        </div>
    } *@-->
</body>
</html>

