@model List<Nettbank.Models.dbKunde>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>List Alle Kunder</title>
</head>
<body>
    <div>
        <h3>Her er brukerne i databasen:</h3>
        <table>
            @foreach (var bruker in Model)
            {
                <tr>
                    <td>@bruker.id
                    <td />
                    <td>@bruker.Personnummer
                    <td />
                    <td>@bruker.Fornavn
                    <td />
                    <td>@bruker.Etternavn
                    <td />
                    <td>@bruker.Adresse
                    <td />
                    <td>@bruker.Postnr
                    <td />
                    <td>@bruker.Poststed
                </tr>
            }
        </table>
        @ViewBag.Melding
        <a href="/Kunde/OpprettKunde">Opprett Kunde</a>
    </div>
</body>
</html>