@model List<Model.Kunde>
@{
    ViewBag.Title = "Kundeliste";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <br /><br />
    <h4>Oversikt Kunder</h4>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].id)</th>
            <th>@Html.DisplayNameFor(model => model[0].Personnummer)</th>
            <th>@Html.DisplayNameFor(model => model[0].Fornavn)</th>
            <th>@Html.DisplayNameFor(model => model[0].Etternavn)</th>
            <th>@Html.DisplayNameFor(model => model[0].Adresse)</th>
            <th>@Html.DisplayNameFor(model => model[0].Postnr)</th>
            <th>@Html.DisplayNameFor(model => model[0].Poststed)</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.id)</td>
                <td>@Html.DisplayFor(modelItem => item.Personnummer)</td>
                <td>@Html.DisplayFor(modelItem => item.Fornavn)</td>
                <td>@Html.DisplayFor(modelItem => item.Etternavn)</td>
                <td>@Html.DisplayFor(modelItem => item.Adresse)</td>
                <td>@Html.DisplayFor(modelItem => item.Postnr)</td>
                <td>@Html.DisplayFor(modelItem => item.Poststed)</td>
                <td>@Html.ActionLink("Slett", "Slett", new { id = item.id }, new {@class = "btn btn-danger" })</td>
                <td>@Html.ActionLink("Oppdater", "Oppdater", new { id = item.id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </table>
</body>
</html>