@model Nettbank.Models.kunde
@{
    ViewBag.Title = "Opprett Kunde";
}

<h2>Opprett Kunde</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Kunde</legend>
        @Html.LabelFor(model => model.Fornavn)
        @Html.EditorFor(model => model.Fornavn)
        @Html.ValidateMessageFor(model => model.Fornavn)

    </fieldset>
}


<!-- 
<!DOCTYPE html>
<html>
<head>
    <title>Opprett Kunde</title>
</head>
<body>
    <div>
        <form action="/Kunde/OpprettKunde" method="post">
            <table>
                <tr><td>Personnummer : </td><td><input type="text" name="Personnummer" /></td></tr>
                <tr><td>Fornavn : </td><td><input type="text" name="Fornavn" /></td></tr>
                <tr><td>Etternavn : </td><td><input type="text" name="Etternavn" /></td></tr>
                <tr><td>Adresse : </td><td><input type="text" name="Adresse" /></td></tr>
                <tr><td>Postnummer : </td><td><input type="text" name="Postnummer" /></td></tr>
                <tr><td>Poststed : </td><td><input type="text" name="Poststed" /></td></tr>
                <tr><td>Passord : </td><td><input type="text" name="Passord" /></td></tr>
                <tr><td></td></tr>
                <tr><td><input type="submit" value="Opprett Kunde" /> </td></tr>
            </table>
        </form>
    </div>
</body>
</html>
-->
